<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
          integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
    <style type="text/css" media="screen">
        /*CUSTOM image CSS*/
        #imageResult {
            display:none;
            width:300px;
            height:300px;
            object-fit:cover;
        }
        #upload {
            opacity: 0;
        }

        #upload-label {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
        }

        .image-area {
            border: 2px dashed rgba(255, 255, 255, 0.7);
            padding: 1rem;
            position: relative;
        }

            .image-area::before {
                content: 'Uploaded image result';
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.8rem;
                z-index: 1;
            }

            .image-area img {
                z-index: 2;
                position: relative;
            }
        /*CUSTOM image CSS ENDS*/

        .wrapper {
            margin-top: '56px';
        }

        .sideMenu {
            background-color: #D3604E;
            position: fixed;
            top: 56px;
            bottom: 0;
            left: 0;
            margin: '56px' auto auto;
            width: 250px;
            border: 1px solid red;
            transition: all ease 0.25s;
            transform: translateX(-100%);
            z-index: 100;
        }

        .content {
            width: 100%;
            padding: 1em;
            margin-left: '0px';
            transition: all ease 0.25s;
        }

        .sideMenu .nav-link {
            display: block;
            white-space: nowrap;
        }

            .sideMenu .nav-link .icon {
                margin-right: 4px;
                font-size: 30px;
                vertical-align: middle;
                height: 32px;
                width: 32px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }

        .sidebarLinks {
            color: white;
        }

        .sidebarLinks:hover {
            background-color: #303337;
            color: white;
        }

        .ulsubmenu {
            background-color: #e58272;
        }

        .sidebarSubLinks {
            padding: 0px 0px;
            padding-left: 10px;
            color: white;
            font-size: .8em;
        }

        .sidebarSubLinks:hover {
            background-color: #303337;
            color: white;
        }

        .active .sideMenu {
            transform: translateX(0);
        }

        .tttCard {
            border: 2px solid black;
        }

        @@media (min-width: 990px) {

            .wrapper .sideMenu {
                transform: translateX(0);
            }

            .content {
                margin-left: 250px;
            }
        }

        .ed_InternTitleView {
            min-width: 200px;
            max-width: 300px;
            font-weight: bold;
        }

        .ed_InternBodyView {
            position: relative;
            max-height: 75px;
            min-width: 200px;
            overflow: hidden;
        }

        .ed_InternBodyViewShadow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 25px 0;
            border-radius: 5px;
            /* "transparent" only works here because == rgba(0,0,0,0) */
            background-image: linear-gradient(to bottom, transparent, #D8D8D8);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler sideMenuToggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Global Intern</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home<span class="sr-only">(current)</span></a>
                </li>
                <div class="dropdown">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programmes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AllInternships">Internships </a>
                            <a class="dropdown-item" href="#">Courses</a>
                        </div>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Internship" asp-action="Create">Create Internship</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                @if (ViewData["LoggeduserName"] != null)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["LoggeduserName"]</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Logout">Logout</button>
                }
                else
                {
                    <button class="btn btn-outline-success my-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Login">Log In</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</button>
                }
            </form>
        </div>
    </nav>
    <main>
        <div class="wrapper d-flex">
            <div class="sideMenu">
                <div class="sidebar">
                    <ul class="navbar-nav">

                        @foreach (var each in @ViewData["menuItems"] as dynamic)
                        {

                            <li class="nav-item">
                                <a href="#" class="nav-link sidebarLinks">
                                    <i class="material-icons icon">@each["icon"]</i>
                                    <span class="text">@each["field"]</span>
                                </a>
                            </li>
                            if (@each["subfields"] != null)
                            {
                                <li class="nav-item">
                                    <ul class="navbar-nav ulsubmenu">
                                        @foreach (var subItem in @each["subfields"] as dynamic)
                                        {
                                            <li class="nav-item">
                                                <a href="#" style="padding-left:15px;" class="sidebarSubLinks nav-link">
                                                    <i class="material-icons icon">play_arrow</i>
                                                    <span class="text">@subItem</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                             }
                          }
                    </ul>
                </div>
            </div>
            @RenderBody()
        </div>
    </main>
    <footer class="footer text-muted">
        <div class="container">
            <form class="form-inline" style="float:left">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">&copy; 2020 - Global Intern - Privacy</a>
            </form>
            <form class="form-inline my-2 my-lg-0" style="float:right">
                <input class="form-control mr-sm-2" type="search" placeholder="Your Email" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Subscribe</button>
            </form>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>