@model IEnumerable<Global_Intern.Models.Experience>

@{
	ViewData["Title"] = "Experience";
	Layout = "~/Views/Shared/_LayoutDashBoardStudent.cshtml";
}

<div class="content">
	<main>
		<div class="container-fluid" style="margin-top:56px;">
			<div class="row">
				<div class=".col-12 col-md-8 my-3">
					<div class="p-3 tttCard">
						<h1 class="mb-2">Experience</h1>
						<div class="userExperience">
							<p>
								@Html.ActionLink("Add Experience", "AddExperience")
							</p>
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">Job Title</th>
											<th scope="col">Employer</th>
											<th scope="col">Start Date</th>
											<th scope="col">End Date</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var experience in @Model.ToList())
										{
										<tr>
											<td>@experience.ExperienceTitle</td>
											<td>@experience.ExperienceCompany</td>
											<td>@experience.ExperienceStartDate.Date.ToString("dd/MM/yyyy")</td>
											@if (experience.ExperienceStillWorking == true)
											{
												<td>Present</td>
											}
											else
											{
												<td>@experience.ExperienceEndDate.Date.ToString("dd/MM/yyyy")</td>
											}
											<td>
												<div class="d-flex">
													<a asp-action="UpdateExperience" asp-route-id="@experience.ExperienceId" class="btn btn-secondary w-75 m-1">Update</a>
													<a asp-action="DeleteExperience" asp-route-id="@experience.ExperienceId" class="btn btn-danger w-75 m-1">Delete</a>
												</div>
											</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js" integrity="sha512-37SbZHAnGzLuZV850k61DfQdZ5cnahfloYHizjpEwDgZGw49+D6oswdI8EX3ogzKelDLjckhvlK0QZsY/7oxYg==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function () {

		$('.sideMenuToggler').on('click', function () {
			console.log("clicked");
			$('.wrapper').toggleClass('active');
		});

		var adjustSidebar = function () {
			$('.sidebar').slimScroll({
				height: document.documentElement.clientHeight - $('.navbar').outerHeight()
			});
		};

		adjustSidebar();
		$(window).resize(function () {
			adjustSidebar();
		});
	});
</script>