@model Global_Intern.Models.GeneralProfile.ProfileViewStudent;

@{
	ViewData["Title"] = "Personal Details";
	Layout = "~/Views/Shared/_LayoutDashboardStudent.cshtml";
}


<div class="content">
	<main>
		<div class="container-fluid" style="margin-top:56px;">
			<form id="GeneralProfile" asp-action="GeneralProfile" enctype="multipart/form-data" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<section class="personalDETAILS">
					<div class="form-group">
						<div class="row py-4">
							<div class="col-lg-6">
								<h1>General Profile</h1>
								<h3 style="color:green">@ViewBag.Message</h3>
								@{
									<!-- Uploaded Teacher's head photo -->
									if (@Model.UserImageName == null)
									{

										<p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
										<div class="image-area mt-4">
											<img id="imageResult" src="~/uploads/defaut-person.png" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
										</div>
									}
									else
									{
										<p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
										<div class="image-area mt-4">
											<img id="imageResult" src="~/uploads/UserImage/@Model.UserImageName" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
										</div>
									}
								}
								<!-- Upload image input-->
								<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
									<input id="upload" asp-for="UserImage" onchange="readURL(this);" class="form-control border-0">
									<label id="upload-label" asp-for="UserImage" class="font-weight-light text-muted">Choose file</label>
									<div class="input-group-append">
										<label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="UserFirstName">First Name</label>
						<input class="form-control" asp-for="UserFirstName">
					</div>
					<div class="form-group">
						<label for="UserLastName">Last Name</label>
						<input class="form-control" asp-for="UserLastName">
					</div>
					<div class="form-group">
						<label asp-for="UserGender" class="control-label" style="transform: scale(1.2);">Gender: </label> &nbsp;
						<input type="radio" asp-for="UserGender" value="Male" style="transform: scale(1.2);" /> Male &nbsp;
						<input type="radio" asp-for="UserGender" value="Female" style="transform: scale(1.2);" /> Female &nbsp;
						<input type="radio" asp-for="UserGender" value="Other" style="transform: scale(1.2);" /> Other &nbsp;
						<span asp-validation-for="UserGender" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="UserAddress">Your Current Address</label>
						<textarea class="form-control" asp-for="UserAddress"></textarea>
					</div>
					<div class="form-group">
						<label asp-for="UserCity">City</label>
						<input class="form-control" asp-for="UserCity">
					</div>
					<div class="form-group">
						<label asp-for="UserCountry" class="control-label">Select your Country</label>

						@{ if (Model.UserCountry == null)
							{
								<select asp-for="UserCountry" onchange="getStates()" id="dd_countries" class="form-control">
									<option id="optionCountry" value="">Select Country</option>
								</select>
							}
							else
							{
								<select asp-for="UserCountry" onchange="getStates()" id="dd_countries" class="form-control">
									<option id="optionCountry" value="@Model.UserCountry">@Model.UserCountry</option>
								</select>
							}
						}
					</div>
					<div class="form-group">
						<label asp-for="UserState" class="control-label">Select your State</label>



						@{ if (Model.UserState == null)
							{
								<select asp-for="UserState" id="dd_states" class="form-control">
									<option id="optionState" value="">Select State</option>
								</select>
							}
							else
							{
								<select asp-for="UserState" id="dd_states" class="form-control">
									<option id="optionState" value="@Model.UserState">@Model.UserState</option>
								</select>
							}
						}

					</div>
					<div class="form-group">
						<label asp-for="UserPhone">Phone</label>
						<input class="form-control" asp-for="UserPhone">
					</div>

					<div class="form-group">
						<label asp-for="UserZip">UserZip</label>
						<input class="form-control" asp-for="UserZip">
					</div>

				</section>
				<section class="otherDETAILS">

					<div class="form-group">
						<label class="control-label">Driver Licence	:</label>
						<select asp-for="UserDriverType" class="form-control">
							<option value="Full Licence">Full Licence</option>
							<option value="Registered Licence">Registered Licence</option>
							<option value="Learner Licence">Learner Licence</option>
							<option value="Foreign Licence">Foreign Licence</option>
							<option value="No Licence">No Licence</option>
						</select>
					</div>

					<div class="form-group">
						<h4> Industry Certifications and Licences </h4>
						<textarea asp-for="UserIndustryCertificates" rows="10" cols="50" class="form-control" placeholder="Enter line by line here">
                    </textarea>
					</div>

					<div class="form-group">
						<h4>Are you a Domestic or International student?</h4>
						<input asp-for="UserStudentType" type="radio" value="Domestic" />&nbsp;
						<label asp-for="UserStudentType" for="domestic">Domestic</label><br>
						<input asp-for="UserStudentType" type="radio" id="international" value="International" />&nbsp;
						<label asp-for="UserStudentType" for="international">International</label><br>
					</div>

					<div class="form-group">
						<h2>Date Of Birth</h2>
						<label for="birthday">Date of Birth:</label>
						<input asp-for="UserDob" class="form-control" type="date">
					</div>

					<div class="form-group">
						<label class="control-label">Ethnicity</label>
						<select asp-for="UserEthnic" class="form-control">
							<option value="European">European</option>
							<option value="Maori">Maori</option>
							<option value="Asian">Asian</option>
							<option value="Other">Other</option>
							<option value="I'd prefer not to say">I'd prefer not to say</option>
						</select>
					</div>


					<div class="form-group">
						<h2>BACKGROUND AND STUDY DETAILS</h2>
						<h4>Do you legally have the right to work in New Zealand?</h4>
						<input asp-for="UserWorkingRight" type="radio" value="Yes">Yes&nbsp;
						<label for="yes"></label><br>
						<input asp-for="UserWorkingRight" type="radio" value="No">No&nbsp;
						<label for="no"></label><br>
					</div>

					<div class="form-group">
						<h4>What type of visa do you currently hold?</h4>
						@*@if (Model.UserVisaType == null)
							{
								<input asp-for="UserVisaType" type="checkbox" value="Student Visa">
								<label for="studyvisa"> Student Visa with 20 Hours </label><br>
								<input asp-for="UserVisaType" type="checkbox" value="Open Work Visa">
								<label for="workvisa"> Open Work Visa </label><br>
								<input asp-for="UserVisaType" type="checkbox" value="Essential Skills Visa">
								<label for="workvisa"> Essential Work Visa </label><br>
								<input asp-for="UserVisaType" type="checkbox" value="Working Holiday Visa">
								<label for="workvisa"> Working Holiday Visa </label><br>
								<input asp-for="UserVisaType" type="checkbox" value="Other Visa Type">
								<label for="other"> Other Visa Type </label><br>
							}
							else
							{
								<input asp-for="UserVisaType" type="checkbox"  value="@Model.UserVisaType">
								<label>Typ</label><br>
							}*@
						<select asp-for="UserVisaType" class="form-control">
							<option value="Student Visa">Student Visa</option>
							<option value="Open Work Visa">Open Work Visa</option>
							<option value="Essential Skills Visa">Essential Skills Visa</option>
							<option value="Working Holiday Visa">Working Holiday Visa</option>
							<option value="Other Visa Type">Other Visa Type</option>
						</select>
					</div>

					<div class="form-group">
						<h4>Visa expiry date</h4>
						<input asp-for="UserVisaExpire" class="form-control" type="date">
					</div>

				</section>

				<button class="btn-back" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</button>
				<input type="submit" class="btn btn-info" value="Save">
				<button onclick="myFunction()">Toggle Dark Mode</button>
			</form>
		</div>
	</main>
</div>

@section Scripts {
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js" integrity="sha512-37SbZHAnGzLuZV850k61DfQdZ5cnahfloYHizjpEwDgZGw49+D6oswdI8EX3ogzKelDLjckhvlK0QZsY/7oxYg==" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {

			$('.sideMenuToggler').on('click', function () {
				console.log("clicked");
				$('.wrapper').toggleClass('active');
			});

			var adjustSidebar = function () {
				$('.sidebar').slimScroll({
					height: document.documentElement.clientHeight - $('.navbar').outerHeight()
				});
			};

			adjustSidebar();
			$(window).resize(function () {
				adjustSidebar();
			});
		});
	</script>
	<script>
		function myFunction() {
			var element = document.body;
			element.classList.toggle("dark-mode");
		}



		// Script to fecth Country -> State -> City
		var auth_token = "";
		var selCountries = document.getElementById('dd_countries');
		var selState = document.getElementById('dd_states');
		var userCountry = document.getElementById('profile_country');
		var optionCountryStr = document.getElementById('optionCountry');
		var optionStateStr = document.getElementById('optionState');
		var repeatCountry = true;
		var repeatState = true;
		var tempState = "";

		let uri = "https://www.universal-tutorial.com/api/getaccesstoken";
		let h = new Headers();
		h.append("Accept", "application/json");
		h.append("api-token", "N-7Ag7GBCSQKidScuKcpV3UOfwwz6Dco-G0dEJewVeyxuXU57SuuPnCnGEsmPsVllP0");
		h.append("user-email", "eobardthawnee69@gmail.com");

		// Get auth_token -> exp every 24 hours
		let req = new Request(uri, {
			method: 'GET',
			headers: h,
			mode: 'cors'
		});
		fetch(req)
			.then((res) => {
				if (res.ok) {
					return res.json();
				}
				else {
					throw new Error('BAD Request');
				}
			})
			.then((jsonData) => {
				auth_token = jsonData["auth_token"];
				let uri_country = "https://www.universal-tutorial.com/api/countries/";
				let h = new Headers();
				h.append("Accept", "application/json");
				h.append("Authorization", "Bearer " + auth_token);

				// Get auth_token -> exp every 24 hours
				let req = new Request(uri_country, {
					method: 'GET',
					headers: h,
					mode: 'cors'
				});

				fetch(req)
					.then((res) => {
						if (res.ok) {
							return res.json();
						}
						else {
							throw new Error('BAD Request');
						}
					})
					.then((jsonData) => {
						populateCountries(jsonData);
					})
					.catch((err) => {
						console.log('ERROR:', err.message);
					});
			})
			.catch((err) => {
				console.log('ERROR:', err.message);
			});

		$('#dd_countries').on('click', function () {
			if (repeatCountry) {
				repeatCountry = false;
				repeatState = true;
				var opt = document.createElement('option');
				tempCountry = selCountries.value;
				selCountries.textContent = "";
				var opt = document.createElement('option');
				opt.appendChild(document.createTextNode(tempCountry));
				opt.value = tempCountry;
				selCountries.appendChild(opt);
				let uri = "https://www.universal-tutorial.com/api/getaccesstoken";
				let h = new Headers();
				h.append("Accept", "application/json");
				h.append("api-token", "N-7Ag7GBCSQKidScuKcpV3UOfwwz6Dco-G0dEJewVeyxuXU57SuuPnCnGEsmPsVllP0");
				h.append("user-email", "eobardthawnee69@gmail.com");

				// Get auth_token -> exp every 24 hours
				let req = new Request(uri, {
					method: 'GET',
					headers: h,
					mode: 'cors'
				});
				fetch(req)
					.then((res) => {
						if (res.ok) {
							return res.json();
						}
						else {
							throw new Error('BAD Request');
						}
					})
					.then((jsonData) => {
						auth_token = jsonData["auth_token"];
						let uri_country = "https://www.universal-tutorial.com/api/countries/";
						let h = new Headers();
						count = 0;
						h.append("Accept", "application/json");
						h.append("Authorization", "Bearer " + auth_token);

						// Get auth_token -> exp every 24 hours
						let req = new Request(uri_country, {
							method: 'GET',
							headers: h,
							mode: 'cors'
						});

						fetch(req)
							.then((res) => {
								if (res.ok) {
									return res.json();
								}
								else {
									throw new Error('BAD Request');
								}
							})
							.then((jsonData) => {
								populateCountries(jsonData);
							})
							.catch((err) => {
								console.log('ERROR:', err.message);
							});
					})
					.catch((err) => {
						console.log('ERROR:', err.message);
					});
			}
		});


		$('#dd_states').on('click', function () {
			if (repeatState) {
				repeatState = false;
				repeatCountry = true;
				var tempCountry = "";
				if (optionCountryStr.value == null) {
					tempCountry = selCountries.value;
				}
				else if (optionCountryStr.value != selCountries.value) {
					tempCountry = selCountries.value;
				}
				else {
					tempCountry = optionCountryStr.value;
				}
				var opt = document.createElement('option');
				tempState = selState.value;
				selState.textContent = "";
				var opt = document.createElement('option');
				opt.appendChild(document.createTextNode(tempState));
				opt.value = tempState;
				selState.appendChild(opt);
				let uri = "https://www.universal-tutorial.com/api/states/" + tempCountry;
				let h = new Headers();
				h.append("Accept", "application/json");
				h.append("Authorization", "Bearer " + auth_token);

				// Get auth_token -> exp every 24 hours
				let req = new Request(uri, {
					method: 'GET',
					headers: h,
					mode: 'cors'
				});

				fetch(req)
					.then((res) => {
						if (res.ok) {
							return res.json();
						}
						else {
							throw new Error('BAD Request');
						}
					})
					.then((jsonData) => {
						populateStates(jsonData);
					})
					.catch((err) => {
						console.log('ERROR:', err.message);
					});
			}
		});

		function populateStates(json) {
			json.forEach((element) => {
				console.log("state", element['state_name'])
				var opt = document.createElement('option');
				opt.appendChild(document.createTextNode(element['state_name']));
				opt.value = element['state_name'];
				selState.appendChild(opt);
			})
		}

		function populateCountries(json) {
			json.forEach((element) => {
				//console.log("got single", element['country_name'])
				var opt = document.createElement('option');
				opt.appendChild(document.createTextNode(element['country_name']));
				opt.value = element['country_name'];
				selCountries.appendChild(opt);
			})
		}

		// Script to fecth Country -> State -> City ENDSS

		// Dashboard menu for mobile view
		$(document).ready(function () {


			$('.sideMenuToggler').on('click', function () {

				$('.wrapper').toggleClass('active');
			});

			var adjustSidebar = function () {
				$('.sidebar').slimScroll({
					height: document.documentElement.clientHeight - $('.navbar').outerHeight()
				});
			};

			adjustSidebar();
			$(window).resize(function () {
				adjustSidebar();
			});
		});


		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#imageResult')
						.attr('src', e.target.result);
				};
				reader.readAsDataURL(input.files[0]);
			}
		}

		$(function () {
			$('#upload').on('change', function () {
				readURL(input);
			});
		});

		/*  ==========================================
			SHOW UPLOADED IMAGE NAME
		* ========================================== */
		var input = document.getElementById('upload');
		var infoArea = document.getElementById('upload-label');

		input.addEventListener('change', showFileName);
		function showFileName(event) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			infoArea.textContent = 'File name: ' + fileName;
		}

	</script>
}




@*<h2>Teacher Details</h2>

	<div class="card">
		<img src="/w3images/team2.jpg" alt="John" style="width:100%">
		<div class="container">
			<h4><b>John Doe</b></h4>
			<p>Architect & Engineer</p>
			<p> More than 10 years expeience as ASP.NET core developer at God IT. </p>

			<a class="bb" href="mailto:someone@example.com?Subject=Hello%20again" target="_top"> Contact </a>
		</div>
	</div>*@

