@model Global_Intern.Models.Course
@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";

}




    <h1>Course</h1>
    <div class="content">
        <h4>Course</h4>
        <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseTitle)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseFees)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseFees)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseDuration)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseDuration)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseInfo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseInfo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseUpdatedAt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseUpdatedAt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseExpDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseExpDate)
                </dd>
            </dl>
        
        
        
            <div class="d-flex">
                <a class="btn btn-primary" href="/DashboardTeacher/course/@Model.CourseId/Apply">Apply</a>
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        
    </div>


