@model IEnumerable<Global_Intern.Models.StudentModels.StudentInternProfile>;
@{
    ViewData["Title"] = "Interns Browser";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">

            @{ if (ViewBag.Success == 1)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (ViewBag.Success == 0)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Names
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserGender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserEmail)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserFirstName)
                                @Html.DisplayFor(modelItem => item.User.UserLastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserGender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserEmail)
                            </td>
                            <td>
                                <a asp-action="InternDetails" asp-route-id="@item.StudentInternProfileId">Details</a> |
                                <a asp-action="InternLike" asp-route-id="@item.User.UserId">Like</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>
