@model IEnumerable<Global_Intern.Models.AppliedInternship>;
@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">
            <form id="GeneralProfile" asp-action="CompanyDetails" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>Intern Applications </h1>

                <table class="table table-hover">



                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h4>Application number @item.AppliedInternshipId</h4>
                                <div>Applicant name: @item.User.UserFirstName, @item.User.UserLastName</div>
                                <div>Position: @item.Internship.InternshipTitle</div>
                            </td>
                            <td>
                                <a asp-action="ApplicationDetails" asp-route-id="@item.AppliedInternshipId">View</a> 
                            </td>
                        </tr>

                    }


                </table>

            </form>
        </div>
    </main>
</div>
