@model IEnumerable<Global_Intern.Models.StudentModels.StudentInternProfile>;
@{
    ViewData["Title"] = "Interns Browser";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">

            @{ if (ViewBag.Success == 1)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Great!</strong> You have saved this intern.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (ViewBag.Success == 0)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        
                        <th>Top 5 Skills</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                    <tr>

                        @{
                            if (ViewBag.paid)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserFirstName)
                                    @Html.DisplayFor(modelItem => item.User.UserLastName)
                                </td>
                            }
                            else
                            {
                                <td class="block" style="background-color:rgba(122,122,122,0.5);"></td>
                            }



                        }




                        @{ if (ViewBag.paid)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserEmail)
                                </td>
                            }
                            else
                            {
                                <td class="block" style="background-color:rgba(122,122,122,0.5);"></td>
                            }
                        }


                        <td>
                            skill1, skill2, skill3, skill4,skill5
                        </td>
                        @{if (ViewBag.paid)
                            {
                                <td>
                                    <a asp-action="InternDetails" asp-route-id="@item.StudentInternProfileId">Details</a> |
                                    <a asp-action="InternLike" asp-route-id="@item.User.UserId">Like</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span>Details</span> |
                                    <span>Like</span> |
                                    <a href="#">Go to pay</a>
                                </td>

                            }}
                    </tr>
                                }
                </tbody>
            </table>
        </div>
    </main>
</div>
