@model Global_Intern.Models.StudentModels.StudentInternProfile;
@{
    ViewData["Title"] = "Intern Details";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}

<div class="content">
    <main>
        <div class="container-fluid">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.UserFirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserFirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.UserLastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserLastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.UserGender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserGender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Qualifications)
                </dt>

                @if (ViewBag.qulifications != null)
                {
                    @foreach (Qualification item in @ViewBag.qulifications)
                    {
                        <dd class="col-sm-10">
                            @item.QualificationSchool
                        </dd>
                    }
                }
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Experiences)
                </dt>

                @if (ViewBag.experiences != null)
                {
                    @foreach (Experience item in @ViewBag.experiences)
                    {
                        <dd class="col-sm-10">
                            @item.ExperienceCompany
                        </dd>
                    }
                }







            </dl>



        </div>
    </main>
</div>
