@model IEnumerable<Global_Intern.Models.AppliedInternship>;
@using Global_Intern.Models.AdditonalModels

@{
    ViewData["Title"] = "CompleteProfile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
}


<div class="content">
    <main>
        <div class="container-fluid">
            <form id="GeneralProfile" asp-action="CompanyDetails" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <h1>Intern Applications </h1>

                <table class="table table-hover">

                    <thead>
                        <td>Application Briefs</td>
                        <td>Action</td>
                        <td>Status</td>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span>Application number @item.AppliedInternshipId</span>
                                <div>Applicant name: @item.User.UserFirstName, @item.User.UserLastName</div>
                                <div>Position: @item.Internship.InternshipTitle</div>
                            </td>
                            <td>
                                <a asp-action="ApplicationDetails" asp-route-id="@item.AppliedInternshipId">

                                    Details
                                    |
                                </a>
                                <a asp-action="ApplicationLike" asp-route-id="@item.AppliedInternshipId">
                                    @{
                                        if (item.Shortlist)
                                        { <i class="fa fa-heart" aria-hidden="true"></i> }
                                        else
                                        { <i class="fa fa-heart-o" aria-hidden="true"></i>}
                                    }
                                    
                                </a>

                                

                            </td>
                            <td>
                                @item.ApplicationStatus.ToString().ToUpper()
                            </td>
                        </tr>

                    }


                </table>

            </form>
        </div>
    </main>
</div>
