@model Global_Intern.Models.Internship

@{
    ViewData["Title"] = "Internship";
}

<h1>Internship</h1>

<div class="container">
    <h4>Internship</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipVirtual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipVirtual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipExpDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipExpDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipCreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipCreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternshipUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternshipUpdatedAt)
        </dd>
    </dl>
    <div class="d-flex">
        <a href="/home/internship/@Model.InternshipId/Apply">Apply</a> |
        <a asp-action="AllInternships">Back to List</a>
    </div>
</div>

