@model IEnumerable<Global_Intern.Models.Internship>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InternshipTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipVirtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipExperienceLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternshipUpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span>
                        @Html.DisplayFor(modelItem => item.InternshipTitle)
                        |||
                        @Html.DisplayFor(modelItem => item.InternshipDuration)
                    </span>
                    <p>
                        @Html.DisplayFor(modelItem => item.InternshipType)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.InternshipType)
                    </p>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternshipExperienceLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternshipExpDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternshipCreatedAt)
                </td>
                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InternshipId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InternshipId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InternshipId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>




